<section>
	<header class="major">
		<h2>« Le premier des fils de Yéroelle »</h2>
			
		<div>
			<img src="/images/10decembre.jpg" class="center"/><br><br>
		</div>
		
	</header>
		<p><i>« - Quelle est la couleur du ciel, s'il vous plaît ? »</i> <br>En errance, un clown triste apparait : il a perdu ses couleurs. <br>Une fois sur scène, il se retrouve devant son public. <br>Il s'explique, il n'a plus et ne se souvient même plus des couleurs. <br>« messieurs-dames les enfants et autres papamamans » vont l'aider à appeler <br>Madame la Fée : « Car si nous sommes, nous pouvons ! ». <br>Cette dernière ne lui donne pas le choix : pour qu’il puisse parcourir ses rêves et retrouver ses couleurs,<br> il devra s’endormir et affronter ses peurs. <br>Des voyages initiatiques au travers desquels il devra apprendre et réapprendre<br> le rythme, l’équilibre, l’écoute et le partage. <br>Ainsi, couleur après couleur, il récupérera sa joie de vivre<br> et continuera sa route…</p>

</section>
