<section>
		{{ with .Site.Params.contact.title }}<h2>{{ . }}</h2>{{ end }}
		<p class="align-center">diffusion@association-tedua.fr <br>Anne Lucie Dumay (06 15 60 97 04)<br>Habib Belaribi (07 82 43 20 68) <br><a href="https://association-tedua.fr" target="_blank">association-tedua.fr </a></p>


		<a target="_blank" href="https://association-tedua.fr"><img src="/images/logo-vert.png" class="logovert"/></a>


	<br><br><p class="align-center">--- Production: <a href="https://association-tedua.fr/" target="_blank"> TEDUA</a> | Photographie: <a href="https://icol-crea.net/contact/#/" target="_blank"> Loïc Arnaud</a> ---</p>

</section>
