{{ "<!-- Header -->" | safeHTML }}
<header id="header">

	<section>
	<a href="/accueil"><img src="/images/logo-affiche.png" width="60%" height="auto" alt="" class="center"/></a>
	</section>

	<section>
	<a href="/accueil"><p>Un spectacle pour parents <br>et enfants (3-11 ans).<br>À tout âge.</p></a>
	</section>

	<section>
	{{ with .Site.Menus.main }}
	<nav id="sidebar">
		<ul>
			{{ range . }}
		<li><strong><a href="{{ .URL | absURL }}">> <u>{{ .Name }}</u></a></strong></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
	</section>

</header>
