{{ "<!-- Header -->" | safeHTML }}
<header id="header">
	
	<a target="_blank" href="https://leclownetlafee.fr" class=""><img src="/images/logo-affiche.png" width="60%" height="auto" alt=""/></a>
	<p style="text-align:right;">Un spectacle pour parents <br>et enfants (3-11 ans),<br>à tout âge.</p>


	{{ with .Site.Menus.main }}
	<nav id="sidebar">
		<ul>
			{{ range . }}
		<li><strong><a href="{{ .URL | absURL }}">{{ .Name }}</a></strong></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
	{{ if not .Site.Params.avatar.hide }}
	<a target="_blank" href="https://leclownetlafee.fr" class=""><img src="/images/avatar.png" width="20%" height="auto" alt=""/></a>
	{{ end }}
</header>
